@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply  px-4 m-0 font-poppins text-sm bg-main-bg-color text-icons-color;
  }

  h1 {
    @apply xl:text-3xl lg:text-xl md:text-lg text-2xl font-bold;
  }

  h2 {
    @apply xl:text-2xl lg:text-lg md:text-base text-sm;
  }

  h3 {
    @apply text-xl;
  }

  input {
    @apply text-icons-color;
  }

  textarea {
    @apply text-icons-color;
  }

  textarea::placeholder {
    @apply text-icons-color;
  }

  a {
    @apply text-inherit;
  }

  * {
    @apply box-border no-tap-highlighting;
  }

  ::selection {
    @apply text-shadow-dark-color bg-icons-color;
  }

  ::-webkit-scrollbar {
    @apply w-4 border border-main-bg-color;
  }

  ::-webkit-scrollbar-track {
    @apply border-r-0 bg-main-bg-color;
  }

  ::-webkit-scrollbar-thumb {
    @apply border-r-[2rem] bg-icons-color w-2;
  }
}

@layer components {
  .underline-animation {
    @apply relative overflow-hidden;
  }

  .underline-animation::after {
    content: "";
    @apply absolute w-0 h-0.5 bottom-0 left-1/2 bg-icons-color transition-all duration-300 ease-in-out;
    transform: translateX(-50%);
  }

  .underline-animation:hover::after {
    @apply w-5/6 left-1/2;
    transform: translateX(-50%);
  }
}
